<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!-- ___________ ARGS ___________ -->
  <!-- You can launch a single robot and his local_planner with arguments -->
  
  <!-- sim args -->
  <arg name="simulator" default="flatland" doc="[flatland]" />
  <env name="SIMULATOR" value="$(arg simulator)" />
  <arg name="show_rviz" default="false" doc="Enables rviz in gazebo" />
  <arg name="rviz_file" default="nav"/>
  <!-- recommand to flatland or a default rviz which is made by -->
  <arg name="visualization" default="rviz" doc="[rviz, flatland]" /> 
  
  <!-- sim params -->
  <param name="show_viz" value="$(arg show_rviz)"/>
  <param name="simulator" value="$(arg simulator)" />
  

  <!-- robot arg -->
 <!-- TODO 이부분을  config 파일 내에서 통일 할 순 없나? -->

  <arg name="model" default="burger" doc="robot model type [burger, jackal, ridgeback, agvota, rto, ...]" />
  <arg name="local_planner" default="dwa" doc="local planner type [teb, dwa, mpc, pred_dsrnn, drl, rosnav]" />
  <arg name="robot_setup_file" default="" doc="" />
  <arg name="agent_name" default="$(arg model)"     doc = "DRL agent name to be deployed" unless="$(eval arg('local_planner') != 'rosnav')" />
  
  <!-- robot param -->
  <param name="robot_setup_file" value="$(arg robot_setup_file)" />
  <param name="local_planner"  value="$(arg local_planner)"/>
  <param name="agent_name" value="$(arg agent_name)" unless="$(eval arg('local_planner') != 'rosnav')"/>
  <param name="use_sim_time" value="true"/>
  <param name="model" value="$(arg model)" />
  <param name="train_mode" value="false" />
  <param name="robot_name" value="$(arg model)" />

  <!-- robot rosparam -->
  <rosparam command="load" file="$(find simulation_bringup)/params/flatland.yaml" />
  <rosparam command="load" file="$(find robohumstamap)/robot_type/$(arg model)/model_params.yaml" if="$(eval arg('robot_setup_file') == '')" /> 
  <rosparam command="load" file="$(find simulation_bringup)/params/drl.yaml" />



 <!-- map arg  -->
 <!-- TODO 이부분을  config 파일 내에서 통일 할 순 없나? -->
  <arg name="map_file" default="default_map" doc="[ aws_house, bookstore, default_map, evaluation_floor, experiment_room_2, factory, hospital, ignc, map1, office_cpr_construction, small_warehouse, turtlebot3_world]" />
  <arg name="world_file" default="$(arg map_file)" />
  <arg name="map_path" default="$(find robohumstamap)/map_type/$(arg map_file)/map.yaml" />
  <!-- map param -->
  <param name="map_file" value="$(arg map_file)" /> 
  <param name="map_path" value="$(arg map_path)" />
  <param name="world_path" value="$(find robohumstamap)/map_type/$(arg map_file)/map.world.yaml" />


  <!-- frame_id arg -->
  <arg name="tf_prefix" value="burger"/>
  <arg name="global_frame_id" value="map" />
  <arg name="odom_frame_id" value="burger/odom" />

<!-- flatland  -->
  <include file="$(find simulation_bringup)/launch_pkg/test_launch/simulators/flatland.launch" if="$(eval arg('simulator') == 'flatland')">
    <arg name="visualization" default="$(arg visualization)" />
    <arg name="rviz_file" value="$(arg rviz_file)" />
    <arg name="model" value="$(arg model)" />
    <arg name="show_rviz" value="$(arg show_rviz)" />
  </include>

  <!-- map server-->
  <include file="$(find simulation_bringup)/launch_pkg/utils/map_server.launch">
    <arg name="map_path" value="$(arg map_path)" />
  </include>
  
  <!-- task_generator -->
  <include file="$(find simulation_bringup)/launch_pkg/test_launch/task_generator.launch">
  </include>

  <!-- Fake localization-->
  <include file="$(find simulation_bringup)/launch_pkg/utils/fake_localization.launch">
    <arg name="global_frame_id" value="$(arg global_frame_id)" />
    <arg name="odom_frame_id" value="$(arg odom_frame_id)" />
  </include>

  <!-- pedsim -->

  <node name="pedsim_simulator" pkg="pedsim_simulator" type="pedsim_simulator" output="screen">
    <param name="frame_id" value="$(arg odom_frame_id)"/>
    <param name="simulation_factor" value="1" type="double"/>
    <param name="pedsim_update_rate" value="30.0" type="double"/>
    <param name="scene_file" value="$(find simulation-setup)/world/$(arg world_file)/scenarios/$(arg world_file).xml" type="string"/>
    <remap from="/pedsim_simulator/odom" to="$(arg tf_prefix)/odom"/>
  </node>

  <node name="pedsim_visualizer" type="pedsim_visualizer_node" pkg="pedsim_visualizer"/>

  <!-- sensor_sim -->
  <include file="$(find simulation_bringup)/launch_pkg/test_launch/sensor_sim.launch">
    
  </include>

  <!-- visualize in rviz   -->
  <node type="create_config_file.py" pkg="helper" name="rviz_config_file_creator" />
  <node type="visualize_robot_model.py" pkg="helper" name="visualize_robot_model" output="screen" />


</launch>
